<div class="menu">
  <div class="row">
    <h3>Danh muc san pham</h3>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <a href="#"><span><i class="fa fa-leaf"></i></span> Rau sach</a>
      </div>
      <div class="row">
        <a href="#"><span><i class="fa fa-anchor"></i></span> Hai san tuoi song</a>
      </div>
      <div class="row">
        <a href="#"><span><i class="fa fa-cutlery"></i></span> Thit</a>
      </div>
      <div class="row">
        <a href="#"><span><i class="fa fa-archive"></i></span> Do hop</a>
      </div>
      <div class="row">
        <a href="#"><span><i class="fa fa-refresh"></i></span> San pham dong lanh</a>
      </div>
      <div class="row">
        <a href="#"><span><i class="fa fa-apple"></i></span> Trai Cay Sach</a>
      </div>
      <div class="row">
        <a href="#"><span><i class="fa fa-fast-forward"></i></span> Snack</a>
      </div>
      <div class="row">
        <a href="#"><span><i class="fa fa-heartbeat"></i></span> Sua</a>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div id="slide">
          <img src="images/slide.jpg" alt="slide" class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="all-products">
          <div class="products">
            <div class="row">
              <h1>San pham</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <a href="#">
          <div class="product">
            <img src="images/example.jpg" alt="product">
            <h4>loa cqq</h4>
            <p>TEsport</p>
            <p>30.000.000</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
