{{> slideshow}}
<div class="row">
  <div class="card-product">
    <div class="card-product-title">
      <h2>Rau sach</h2>
    </div>

    <div class="card-product-content clearfix">
      <div class="card-product-item col-md-2">
        <a href="#">
          <img src="images/products/test.jpg" alt="rau_sach">
          <div class="product-name">
            <p>product name</p>
          </div>
          <div class="product-price">
            <p>Gia</p>
          </div>
        </a>
        <button class="btn btn-success buy-button center-block">Cho vao gio</button>
      </div>


      <div class="card-product-item col-md-2">
        <a href="#">
          <img src="images/products/test.jpg" alt="rau_sach">
          <div class="product-name">
            <p>product name</p>
          </div>
          <div class="product-price">
            <p>Gia</p>
          </div>
        </a>
        <button class="btn btn-success buy-button center-block">Cho vao gio</button>
      </div>


      <div class="card-product-item col-md-2">
        <a href="#">
          <img src="images/products/test.jpg" alt="rau_sach">
          <div class="product-name">
            <p>product name</p>
          </div>
          <div class="product-price">
            <p>Gia</p>
          </div>
        </a>
        <button class="btn btn-success buy-button center-block">Cho vao gio</button>
      </div>


      <div class="card-product-item col-md-2">
        <a href="#">
          <img src="images/products/test.jpg" alt="rau_sach">
          <div class="product-name">
            <p>product name</p>
          </div>
          <div class="product-price">
            <p>Gia</p>
          </div>
        </a>
        <button class="btn btn-success buy-button center-block">Cho vao gio</button>
      </div>
    </div>


  </div>
</div>
